<font size=3 color=white face="Arial">
<div class='headers' id='slot_headers' > 
<table>
  <tr>
    <th width='100' style="text-align:center"> </th>
    <th width='60' style="text-align:center"> Slot No </th>
    <th width='100' style="text-align:center"> Input Codec </th>
    <th width='90' style="text-align:center"> Size </th>
    <th width='120' style="text-align:center"> Input Format </th>
    <th width='100' style="text-align:center"> Video Device </th>
    <th width='100' style="text-align:center"> Output Codec </th>
    <th width='100' style="text-align:center"> Output Format </th>
    <th width='100' style="text-align:center"> Bitrate </th>
    <th width='100' style="text-align:center"> Framerate </th>
    <th width='100' style="text-align:center"> Ouput URL </th>
  </tr>
</table>
</font>
</div>
<div class='slot_body' id='slot_body' style=" background-color:#333333; width:2000px; margin-left:-8px" > 
  <%8.times do %>
    </br>
  <%end%>
  <%@slots.each do |slot| %>
    <font size=3 color=white face="Arial">
      <form name="slot_<%=slot.slot_number%>" id="slot_<%=slot.slot_number%>">
        <table>
          <tr>
            <th width='100' style="text-align:center"> </th>
            <td width='60' style="text-align:center"> <label id="slot_<%=slot.slot_number%>" form="slot_<%=slot.slot_number%>"> <%=slot.slot_number%></label> </td>
            <td width='100' style="text-align:center"> <input id="<%=slot.slot_number%>_input_codec" type="text" size="3" maxlength="20" name="input_codec" value="<%=slot.input_codec%>"></td>
            <td width='90' style="text-align:center"> <input id="<%=slot.slot_number%>_size" type="text" size="3" maxlength="20" name="size" value="<%=slot.size%>"></td>
            <td width='120' style="text-align:center"> <input id="<%=slot.slot_number%>_input_format" type="text" size="4" maxlength="20" name="input_format" value="<%=slot.input_format%>"></td>
            <td width='100' style="text-align:center"> <input id="<%=slot.slot_number%>_video_device" type="text" size="1" maxlength="3" name="video_device" value="<%=slot.video_device%>"></td>
            <td width='100' style="text-align:center"> <input id="<%=slot.slot_number%>_output_codec" type="text" size="3" maxlength="20" name="output_codec" value="<%=slot.output_codec%>"></td>
            <td width='100' style="text-align:center"> <input id="<%=slot.slot_number%>_output_format" type="text" size="3" maxlength="20" name="output_format" value="<%=slot.output_format%>"></td>
            <td width='100' style="text-align:center"> <input id="<%=slot.slot_number%>_bitrate" type="text" size="1" maxlength="4" name="bitrate" value="<%=slot.bitrate%>"></td>
            <td width='100' style="text-align:center"> <input id="<%=slot.slot_number%>_framerate" type="text" size="1" maxlength="2" name="framerate" value="<%=slot.framerate%>"></td>
            <td width='100' style="text-align:center"> <input id="<%=slot.slot_number%>_output_url" type="text" size="3" maxlength="20" name="output_url" value="<%=slot.output_url%>"></td>
            <td width='100' style="text-align:center"> <input id="<%=slot.slot_number%>_change"  class="change_button"  type="button" value="Change" /></td>
          </tr>
        </table>
      </font>
    </form>
  <%end%>
</div>

<script>
$(document ).ready(function() {

  <%@slots.each do |slot| %>
  document.getElementById("<%=slot.slot_number%>_change").onclick = function() {
    var slotNumber = "<%=slot.slot_number%>";
    $.post('/slot/update_slot_video', {slot_number: slotNumber, 
      input_codec: $('#<%=slot.slot_number%>_input_codec').val(),  input_format: $('#<%=slot.slot_number%>_input_format').val(),
      video_device: $('#<%=slot.slot_number%>_input_format').val(), output_codec: $('#<%=slot.slot_number%>_output_codec').val(), output_format: $('#<%=slot.slot_number%>_output_format').val(),
      bitrate: $('#<%=slot.slot_number%>_bitrate').val(), framerate: $('#<%=slot.slot_number%>_framerate').val(), output_url: $('#<%=slot.slot_number%>_output_url').val(), size: $('#<%=slot.slot_number%>_size').val()},
    function(){
    });
    document.getElementById('slot_video').click();
  };
  <%end%>

});
</script>


