<font size=3 color=white face="Arial">
<div class='headers' id='slot_headers' > 
<table>
  <tr>
    <th width='100' style="text-align:center">  <input id="new" class="new_button"  type="button" value="New" /> </th>
    <th width='60' style="text-align:center"> Slot No </th>
    <th width='95' style="text-align:center"> Node ID </th>
    <th width='100' style="text-align:center"> IR netbox </th>
    <th width='85' style="text-align:center"> IR slot </th>
    <th width='120' style="text-align:center"> PDU ID </th>
    <th width='100' style="text-align:center"> PDU Slot </th>
    <th width='120' style="text-align:center"> Serial ID </th>
    <th width='100' style="text-align:center"> Serial Slot </th>
    <th width='100' style="text-align:center"> Audio Device </th>
  </tr>
</table>
</font>
</div>
<div class='slot_body' id='slot_body' style="z-index:-2; background-color:#333333; width:2000px; margin-left:-8px" > 
  <%8.times do %>
    </br>
  <%end%>
<div id='new_slot' class='new_slot'>
</div>
  <%@slots.each do |slot| %>
    <font size=3 color=white face="Arial">
      <form name="slot_<%=slot.slot_number%>" id="slot_<%=slot.slot_number%>">
        <table>
          <tr>
            <th width='100' style="text-align:center"> </th>
            <td width='60' style="text-align:center"> <label id="slot_<%=slot.slot_number%>" form="slot_<%=slot.slot_number%>"> <%=slot.slot_number%></label> </td>
            <td width='95' style="text-align:center"> <input id="<%=slot.slot_number%>_node_id" type="text" size="1" maxlength="3" name="node_id" value="<%=slot.node_id%>"> </td>
            <td width='100' style="text-align:center"> <input id="<%=slot.slot_number%>_ir_netbox_id" type="text" size="1" maxlength="3" name="ir_netbox_id" value="<%=slot.ir_netbox_id%>"></td>
            <td width='100' style="text-align:center"> <input id="<%=slot.slot_number%>_ir_slot" type="text" size="1" maxlength="3" name="ir_slot" value="<%=slot.ir_slot%>"></td>
            <td width='120' style="text-align:center"> <input id="<%=slot.slot_number%>_pdu_id" type="text" size="4" maxlength="20" name="pdu_id" value="<%=slot.ir_slot%>"></td>
            <td width='100' style="text-align:center"> <input id="<%=slot.slot_number%>_pdu_slot" type="text" size="1" maxlength="2" name="pdu_slot" value="<%=slot.ir_slot%>"></td>
            <td width='120' style="text-align:center"> <input id="<%=slot.slot_number%>_serial_id" type="text" size="4" maxlength="20" name="serial_id" value="<%=slot.ir_slot%>"></td>
            <td width='100' style="text-align:center"> <input id="<%=slot.slot_number%>_serial_slot" type="text" size="1" maxlength="2" name="serial_slot" value="<%=slot.ir_slot%>"></td>
            <td width='100' style="text-align:center"> <input id="<%=slot.slot_number%>_audio_device" type="text" size="1" maxlength="2" name="audio_device" value="<%=slot.ir_slot%>"></td>
            <td width='100' style="text-align:center"> <input id="<%=slot.slot_number%>_change"  class="change_button"  type="button" value="Change" /></td>
            <td width='100' style="text-align:center"> <input id="<%=slot.slot_number%>_delete"  class="delete_button"  type="button" value="Delete" /></td>
          </tr>
        </table>
      </font>
    </form>
  <%end%>
</div>

<script>
$(document ).ready(function() {
  new_slot();

  <%@slots.each do |slot| %>
  document.getElementById("<%=slot.slot_number%>_change").onclick = function() {
    var slotNumber = "<%=slot.slot_number%>";
    $.post('/slot/update_slot', {node_id: $('#<%=slot.slot_number%>_node_id').val(), slot_number: slotNumber, ir_netbox_id: $('#<%=slot.slot_number%>_ir_netbox_id').val(),
    ir_slot: $('#<%=slot.slot_number%>_ir_slot').val(), pdu_id: $('#<%=slot.slot_number%>_pdu_id').val(), pdu_slot: $('#<%=slot.slot_number%>_pdu_slot').val(), serial_id: $('#<%=slot.slot_number%>_serial_id').val(),
    serial_slot: $('#<%=slot.slot_number%>_serial_slot').val()},
    function(){
    });
  };
  <%end%>

 <%@slots.each do |slot| %>
    document.getElementById("<%=slot.slot_number%>_delete").onclick = function() {
      var check = confirm("Are you sure you want to delete this record and its relations? This action cannot be reversed.")
      if (check == true) {
        var slotNumber = "<%=slot.slot_number%>"; 
        $.post('/slot/delete_slot', { slot_number: slotNumber }, 
        function() {
        });
        document.getElementById('slots').click();
      }
      else {}
  };
  <%end%>

 function new_slot() { 
   document.getElementById('new').onclick = function() {
     
      $.ajax({
        url: "/slot/new_slot",
        type: "GET",
        success: function(data) {
        $(".new_slot").html(data);
        }
      })
    };
  };

});
</script>


