<div class='headers' id='header_bar' style="z-index: 2; margin-top: 90px;"  >
<table style=" font-size: 15px; color: white; font-style:normal; margin-top: 8px">
  <tr>
    <th width='100' style="text-align:center"><%= select_tag 'decoder_select', options_for_select(@node_names), prompt:  "Select Node", id: "decoder_select" %> </th>
  </tr>
</table>
</font>
</div>
<font size=3 color=white face="Arial">
<div class="sidebar" id="sidebar" style="position:fixed; z-index: -2; background-color:#81BEF7; height:2000px; width:110px; margin-top:62px; margin-left:-30px" > 
</div>
<div id="viewing_area" class="viewing_area" style="background-color: red; position:absolute;  margin-top: 150px">
  <%@slots.each do |slot|%> 
   <%count = slot.slot_number  %>
     <%puts "SLOT IS NOW #{count}" %>
     <%if count == 1 %> 
       <div class="active_slot_div_<%=slot.slot_number%>" id="active_slot_div_<%=slot.slot_number%>" style="position:absolute; z-index: -1; clear:both;  background-color:#000000; width:250px; height:220px; margin-left:120px; " >
         <label style="margin-left:120px" id="slot_<%=slot.slot_number%>" form="slot_<%=slot.slot_number%>"> <%=slot.slot_number%></label> 
         <input id="<%=slot.slot_number%>_lock"  class="delete_button"  type="button" value="lock" style="margin-left:45px; margin-top:204px;" /> 
         <input id="<%=slot.slot_number%>_unlock"  class="change_button"  type="button" value="unlock" style="margin-left:0px; margin-top:-40px;"/>
       </div>
     <%elsif count % 4 == 1 %>    
       <div class="active_slot_div_<%=slot.slot_number%>" id="active_slot_div_<%=slot.slot_number%>" style="position:absolute; z-index: -1; background-color:#000000; width:250px; height:220px; margin-left:120px; margin-top:<%=(count / 4) * 250%>px" > 
         <label style="margin-left:120px" id="slot_<%=slot.slot_number%>" form="slot_<%=slot.slot_number%>"> <%=slot.slot_number%></label> 
           <input id="<%=slot.slot_number%>_lock"  class="delete_button"  type="button" value="lock" style="margin-left:45px; margin-top:204px;" /> 
           <input id="<%=slot.slot_number%>_unlock"  class="change_button"  type="button" value="unlock" style="margin-left:0px; margin-top:-40px;"/>
        </table>
       </div>
     <%end%>    
     <%if count % 4 == 2 %> 
       <div class="active_slot_div_<%=slot.slot_number%>" id="active_slot_div_<%=slot.slot_number%>" style="position:absolute; z-index: -1;  background-color:#000000; width:250px; height:220px; margin-left:400px; margin-top:<%=(count / 4) * 250%>px" >
         <label style="margin-left:120px" id="slot_<%=slot.slot_number%>" form="slot_<%=slot.slot_number%>"> <%=slot.slot_number%></label> 
           <input id="<%=slot.slot_number%>_lock"  class="delete_button"  type="button" value="lock" style="margin-left:45px; margin-top:204px;" />
           <input id="<%=slot.slot_number%>_unlock"  class="change_button"  type="button" value="unlock" style="margin-left:0px; margin-top:-40px;"/>
       </div>
     <%end%>    
     <%if count % 4 == 3 %> 
       <div class="active_slot_div_<%=slot.slot_number%>" id="active_slot_div_<%=slot.slot_number%>" style="position:absolute; z-index: -1;  background-color:#000000; width:250px; height:220px; margin-left:680px;  margin-top:<%=(count / 4) * 250%>px" >
         <label style="margin-left:120px" id="slot_<%=slot.slot_number%>" form="slot_<%=slot.slot_number%>"> <%=slot.slot_number%></label> 
           <input id="<%=slot.slot_number%>_lock"  class="delete_button"  type="button" value="lock" style="margin-left:45px; margin-top:204px;" />
           <input id="<%=slot.slot_number%>_unlock"  class="change_button"  type="button" value="unlock" style="margin-left:0px; margin-top:-40px;"/>
       </div>
     <%end%>    
     <%if count == 4 %> 
       <div class="active_slot_div_<%=slot.slot_number%>" id="active_slot_div_<%=slot.slot_number%>" style="position:absolute; z-index: -1;   background-color:#000000; width:250px; height:220px; margin-left:960px; " > 
         <label style="margin-left:120px" id="slot_<%=slot.slot_number%>" form="slot_<%=slot.slot_number%>"> <%=slot.slot_number%></label> 
           <input id="<%=slot.slot_number%>_lock"  class="delete_button"  type="button" value="lock" style="margin-left:45px; margin-top:204px;" />
           <input id="<%=slot.slot_number%>_unlock"  class="change_button"  type="button" value="unlock" style="margin-left:0px; margin-top:-40px;"/>
       </div>
     <%elsif slot.slot_number % 4 == 0 %> 
       <div class="active_slot_div_<%=slot.slot_number%>" id="active_slot_div_<%=slot.slot_number%>" style="position:absolute; z-index: -1;  background-color:#000000; width:250px; height:220px; margin-left:960px;  margin-top:<%=((count / 4) -1) * 250%>px" > 
         <label style="margin-left:120px" id="slot_<%=slot.slot_number%>" form="slot_<%=slot.slot_number%>"> <%=slot.slot_number%></label> 
           <input id="<%=slot.slot_number%>_lock"  class="delete_button"  type="button" value="lock" style="margin-left:45px; margin-top:204px;" />
           <input id="<%=slot.slot_number%>_unlock"  class="change_button"  type="button" value="unlock" style="margin-left:0px; margin-top:-40px;"/>
       </div>
     <%end%>  
  <%end%>  
</div>
<script>
  $( document ).ready(function() {
    document.getElementById("decoder_select").onchange = function() {
      $.ajax({
        url: "active_slots_sidebar",
        type: "GET",
        data: {node: $('#decoder_select').val()},
        success: function(data) {
        $(".sidebar").html(data);
        }
      })
    };

  $.post('/admin/update_view_slot', {slot: 0},
      function(){
      });

  <%@locked_slots.each do |slot|%>  
    document.getElementById("<%=slot.slot_number%>_lock").disabled = true;
  <%end%> 

  <%@unlocked_slots.each do |unlocked_slot|%>
    document.getElementById("<%=unlocked_slot.slot_number%>_unlock").disabled = true;
  <%end%> 

  <%@slots.each do |slot|%>
    document.getElementById("<%=slot.slot_number%>_lock").onclick = function() {
      $.ajax({
        url: "lock_slot",
        type: "GET",
        data: {slot: "<%=slot.slot_number%>" },
        success: function(data) {
          //window.location.reload(true);
          document.getElementById("<%=slot.slot_number%>_lock").disabled = true;
          document.getElementById("<%=slot.slot_number%>_unlock").disabled = false;
          window.open(data, '_blank');
        }
      })
    };
    document.getElementById("<%=slot.slot_number%>_unlock").onclick = function() {
      $.post('/admin/unlock_slot', {slot: "<%=slot.slot_number%>" },
      function(){
          document.getElementById("<%=slot.slot_number%>_lock").disabled = false;
          document.getElementById("<%=slot.slot_number%>_unlock").disabled = true;
      });
    };
  <%end%> 

});
</script>

