<font size=3 color=white face="Arial">
<div class='headers' id='slot_headers' > 
<table>
  <tr>
    <th width='100' style="text-align:center">  <input id="new" class="new_button"  type="button" value="New" /> </th>
    <th width='60' style="text-align:center"> ID </th>
    <th width='120' style="text-align:center"> Name </th>
    <th width='120' style="text-align:center"> Model </th>
    <th width='100' style="text-align:center"> Manufacturer </th>
    <th width='120' style="text-align:center"> Serial </th>
    <th width='100' style="text-align:center"> Smart Card </th>
    <th width='100' style="text-align:center"> Secure CSN </th>
    <th width='100' style="text-align:center"> Remote </th>
    <th width='100' style="text-align:center"> Slot </th>
    <th width='100' style="text-align:center"> Front Image </th>
    <th width='100' style="text-align:center"> Back Image </th>
  </tr>
</table>
</div>
<div class='decoders_body' id='decoders_body' style=" background-color:#333333; width:2000px; margin-left:-8px" > 
<%8.times do %>
  </br>
<%end%>
<div id='new_decoder' class='new_decoder'>
</div>
  <%@decoders.each do |decoder| %> 
    <table>
      <form name="decoder_<%=decoder.id%>" id="slot_<%=decoder.id%>"
          <tr>
            <th width='100' style="text-align:center"> </th>
            <td width='60' style="text-align:center"> <label id="decoder_<%=decoder.id%>" form="decoder_<%=decoder.id%>"> <%=decoder.id%></label> </td>
            <td width='120' style="text-align:center"> <input id="<%=decoder.id%>_name" type="text" size="4" maxlength="15" name="name" value="<%=decoder.name%>"> </td>
            <td width='120' style="text-align:center"> <input id="<%=decoder.id%>_model" type="text" size="4" maxlength="15" name="name" value="<%=decoder.model%>"> </td>
            <td width='100' style="text-align:center"> <input id="<%=decoder.id%>_manufacturer" type="text" size="1" maxlength="10" name="name" value="<%=decoder.manufacturer%>"> </td>
            <td width='120' style="text-align:center"> <input id="<%=decoder.id%>_serial" type="text" size="3" maxlength="20" name="name" value="<%=decoder.serial%>"> </td>
            <td width='100' style="text-align:center"> <input id="<%=decoder.id%>_smartcard" type="text" size="1" maxlength="20" name="name" value="<%=decoder.smartcard%>"> </td>
            <td width='100' style="text-align:center"> <input id="<%=decoder.id%>_secure_csn" type="text" size="1" maxlength="20" name="name" value="<%=decoder.secure_csn%>"> </td>
            <td width='100' style="text-align:center"> <input id="<%=decoder.id%>_remote_id" type="text" size="1" maxlength="5" name="name" value="<%=decoder.remote_id%>"> </td>
            <td width='100' style="text-align:center"> <input id="<%=decoder.id%>_slot_id" type="text" size="1" maxlength="5" name="name" value="<%=decoder.slot_id%>"> </td>
            <td width='100' style="text-align:center"> <input id="<%=decoder.id%>_front_image_url" type="text" size="3" maxlength="40" name="name" value="<%=decoder.front_image_url%>"> </td>
            <td width='100' style="text-align:center"> <input id="<%=decoder.id%>_back_image_url" type="text" size="3" maxlength="40" name="name" value="<%=decoder.back_image_url%>"> </td>
            <td width='100' style="text-align:center"> <input id="<%=decoder.id%>_change"  type="button"  class="change_button" value="Change" /></td>
            <td width='100' style="text-align:center"> <input id="<%=decoder.id%>_delete"  class="delete_button"  type="button" value="Delete" /></td>
            <td width='100' style="text-align:center"> <input id="<%=decoder.id%>_reset"  type="button"  class="change_button" value="Reset" /></td>
          </tr>
      </table>
    </form>
  <%end%>
</div>
</font>

<script>
$(document ).ready(function() {
  new_decoder();
  <%@decoders.each do |decoder| %>
    document.getElementById("<%=decoder.id%>_change").onclick = function() {
      var decoderId = "<%=decoder.id%>"; 
      $.post('/decoder/update_decoder', { decoder_id: decoderId, name: $('#<%=decoder.id%>_name').val(),  model: $('#<%=decoder.id%>_model').val(),  manufacturer: $('#<%=decoder.id%>_manufacturer').val(), 
        serial: $('#<%=decoder.id%>_serial').val(), smartcard: $('#<%=decoder.id%>_smartcard').val(), secure_csn: $('#<%=decoder.id%>_secure_csn').val(), remote_id: $('#<%=decoder.id%>_remote_id').val(), remote_id: $('#<%=decoder.id%>_remote_id').val(),
        slot_id: $('#<%=decoder.id%>_slot_id').val(), front_image_url: $('#<%=decoder.id%>_front_image_url').val(), back_image_url: $('#<%=decoder.id%>_back_image_url').val()},
      function() {
    });
  };
  <%end%>

  <%@decoders.each do | decoder| %>
    document.getElementById("<%=decoder.id%>_delete").onclick = function() {
      var check = confirm("Are you sure you want to delete this record? This action cannot be reversed.")
      if (check == true) {
        var decoderId = "<%=decoder.id%>"; 
        $.post('/decoder/delete_decoder', { decoder_id: decoderId }, 
        function() {
        });
        document.getElementById('decoders').click();
      }
      else {}
      };
  <%end%>

  function new_decoder() { 
    document.getElementById('new').onclick = function() {
      $.ajax({
        url: "/decoder/new_decoder",
        type: "GET",
        success: function(data) {
        $(".new_decoder").html(data);
        }
      })
    };
  };



});
</script>
