<table>
  <form name="decoder_new" id="decoder_new" >
    <tr>
      <th width='100' style="text-align:center"> </th>
      <td width='60' style="text-align:center"> <label id="decoder_new" form="decoder_new"> New</label> </td>
      <td width='120' style="text-align:center"> <input id="new_name" type="text" size="4" maxlength="15" name="name" value=""> </td>
      <td width='120' style="text-align:center"> <input id="new_model" type="text" size="4" maxlength="15" name="name" value=""> </td>
      <td width='100' style="text-align:center"> <input id="new_manufacturer" type="text" size="1" maxlength="10" name="name" value=""> </td>
      <td width='120' style="text-align:center"> <input id="new_serial" type="text" size="3" maxlength="20" name="name" value=""> </td>
      <td width='100' style="text-align:center"> <input id="new_smartcard" type="text" size="1" maxlength="20" name="name" value=""> </td>
      <td width='100' style="text-align:center"> <input id="new_secure_csn" type="text" size="1" maxlength="20" name="name" value=""> </td>
      <td width='100' style="text-align:center"> <input id="new_remote_id" type="text" size="1" maxlength="5" name="name" value=""> </td>
      <td width='100' style="text-align:center"> <input id="new_slot_id" type="text" size="1" maxlength="5" name="name" value=""> </td>
      <td width='100' style="text-align:center"> <input id="new_front_image_url" type="text" size="3" maxlength="40" name="name" value=""> </td>
      <td width='100' style="text-align:center"> <input id="new_back_image_url" type="text" size="3" maxlength="40" name="name" value=""> </td>
      <td width='100' style="text-align:center"> <input id="new_change"  type="button"  class="change_button" value="Save" /></td>
    </tr>
  </form>
</table>

<script>
$(document ).ready(function() {
    document.getElementById("new_change").onclick = function() {
      $.post('/decoder/create_decoder', { name: $('#new_name').val(),  model: $('#new_model').val(),  manufacturer: $('#new_manufacturer').val(), 
        serial: $('#new_serial').val(), smartcard: $('#new_smartcard').val(), secure_csn: $('#new_secure_csn').val(), remote_id: $('#new_remote_id').val(), remote_id: $('#new_remote_id').val(),
        slot_id: $('#new_slot_id').val(), front_image_url: $('#new_front_image_url').val(), back_image_url: $('#new_back_image_url').val()},
      function() {
    });
    document.getElementById('decoders').click();
  };
});
</script>
