<font size=3 color=white face="Arial">
<div class='headers' id='remote_headers' > 
<table>
  <tr>
    <th width='100' style="text-align:center">  <input id="new" class="new_button"  type="button" value="New" /> </th>
    <th width='60' style="text-align:center"> ID </th>
    <th width='100' style="text-align:center"> Name </th>
    <th width='100' style="text-align:center"> Model </th>
    <th width='100' style="text-align:center"> Type </th>
    <th width='200' style="text-align:center"> Image URL </th>
  </tr>
</table>
</div>
<div class='remote_body' id='remote_body' style=" background-color:#333333; width:2000px; margin-left:-8px" > 
<%8.times do %>
  </br>
<%end%>
<div id='new_remote' class='new_remote'>
</div>
  <%@remotes.each do |remote| %> 
    <table>
      <form name="remote_<%=remote.id%>" id="remote_<%=remote.id%>"
          <tr>
            <th width='100' style="text-align:center"> </th>
            <td width='60' style="text-align:center"> <label id="remote_<%=remote.id%>" form="remote_<%=remote.id%>"> <%=remote.id%></label> </td>
            <td width='100' style="text-align:center"> <input id="<%=remote.id%>_name" type="text" size="4" maxlength="20" name="name" value="<%=remote.name%>"> </td>
            <td width='100' style="text-align:center"> <input id="<%=remote.id%>_model" type="text" size="4" maxlength="20" name="name" value="<%=remote.model%>"> </td>
            <td width='100' style="text-align:center"> <input id="<%=remote.id%>_remote_type" type="text" size="4" maxlength="10" name="name" value="<%=remote.remote_type%>"> </td>
            <td width='200' style="text-align:center"> <input id="<%=remote.id%>_image_url" type="text" size="14" maxlength="25" name="name" value="<%=remote.image_url%>"> </td>
            <td width='100' style="text-align:center"> <input id="<%=remote.id%>_change"  class="change_button"  type="button" value="Change" /></td>
            <td width='100' style="text-align:center"> <input id="<%=remote.id%>_delete"  class="delete_button"  type="button" value="Delete" /></td>
          </tr>
      </table>
    </form>
  <%end%>
</div>
</font>

<script>
$(document ).ready(function() {
  new_remote();
  <%@remotes.each do |remote| %>
    document.getElementById("<%=remote.id%>_change").onclick = function() {
      var remoteId = "<%=remote.id%>"; 
      $.post('/remote/update_remote', { remote_id: remoteId, name: $('#<%=remote.id%>_name').val(),  model: $('#<%=remote.id%>_model').val(),  image_url: $('#<%=remote.id%>_image_url').val(), remote_type: $('#<%=remote.id%>_remote_type').val()},
      function() {
    });
  };
  <%end%>
  
  <%@remotes.each do |remote| %>
    document.getElementById("<%=remote.id%>_delete").onclick = function() {
      var check = confirm("Are you sure you want to delete this record? This action cannot be reversed.")
      if (check == true) {
        var remoteId = "<%=remote.id%>"; 
        $.post('/remote/delete_remote', { remote_id: remoteId }, 
        function() {
        });
        document.getElementById('remotes').click();
      }
      else {}
      };
  <%end%>

  function new_remote() { 
    document.getElementById('new').onclick = function() {
      $.ajax({
        url: "/remote/new_remote",
        type: "GET",
        success: function(data) {
        $(".new_remote").html(data);
        }
      })
    };
  };



});
</script>

