<font size=3 color=white face="Arial">
      <form name="new_node" id="new_node_form">
        <table>
          <tr>
            <th width='100' style="text-align:center"> </th>
            <td width='60' style="text-align:center"> <label id="node_new" form="new_node"> New node </label> </td>
            <td width='100' style="text-align:center"> <input id="new_name" type="text" size="1" maxlength="10" name="name" value=""> </td>
            <td width='150' style="text-align:center"> <input id="new_ip" type="text" size="5" maxlength="20" name="ip" value=""> </td>
            <td width='100' style="text-align:center"> <input id="new_slot_count" type="text" size="1" maxlength="3" name="slot_count" value=""> </td>
            <td width='100' style="text-align:center"> <input id="new_node_type" type="text" size="4" maxlength="10" name="node_type" value=""> </td>
            <td width='100' style="text-align:center"> <input id="new_ir_netbox_count" type="text" size="1" maxlength="2" name="ir_netbox_count" value=""> </td>
            <td width='100' style="text-align:center"> <input id="new_external_ip" type="text" size="4" maxlength="20" name="external_ip" value=""> </td>
            <td width='100' style="text-align:center"> <input id="new_save"  class="change_button"  type="button" value="Save" /></td>
          </tr>
      </table>
    </form>
</div>
</font>

<script>
  $(document).ready(function() {
  document.getElementById("new_save").onclick = function() {
      $.post('/node/create_node', { name: $('#new_name').val(),  ip: $('#new_ip').val(),  slot_count: $('#new_slot_count').val(),  slot_count: $('#new_slot_count').val(), 
        node_type: $('#new_node_type').val(), ir_netbox_count: $('#new_ir_netbox_count').val(), external_ip: $('#new_external_ip').val()},
      function() {
    });
    document.getElementById('nodes').click();
  };
});
</script>
