<%@gui_buttons.each do |gui_button| %>
    <%if "#{gui_button.remote_id}" == @active%>  
      <%button = @button_hash[gui_button.id]%>
      <form name="<%=button.name%>" id="<%=button.name%>">
        <table form="<%=button.name%>">
          <tr>
            <td width='250' style="text-align:left"> <label id="<%=button.id%>_button_label" form="<%=button.name%>,<%=gui_button.id%>"> <%=button.name%></label> </td> 
            <td width='100' style="text-align:center"> <label id="<%=button.id%>_gui_button_label" form="<%=button.name%>,<%=gui_button.id%>"> <%=gui_button.id%></label> </td> 
            <td width='100' style="text-align:center">  <input id="<%=button.id%>_width" size="1" maxlength="4" type="text" name="width" value="<%=gui_button.width%>"> </td> 
            <td width='100' style="text-align:center">  <input id="<%=button.id%>_height"  size="1" maxlength="4" type="text" name="height" value="<%=gui_button.height%>"> </td> 
            <td width='100' style="text-align:center"> <input id="<%=button.id%>_x" type="text"  size="1" maxlength="4"  name="x" value="<%=gui_button.x%>"> </td> 
            <td width='100' style="text-align:center">  <input id="<%=button.id%>_y" type="text"  size="1" maxlength="4" name="y" value="<%=gui_button.y%>"> </td> 
            <td width='100' style="text-align:center">  <input id="<%=button.id%>_remote_id" type="text"  size="1" maxlength="4" name="y" value="<%=gui_button.remote_id%>"> </td> 
            <td width='100' style="text-align:center">  <input id="change_<%=button.id%>"  type="button" class="change_button" value="Change" /> </td>
            <td width='100' style="text-align:center"> <input id="<%=button.id%>_delete"  class="delete_button"  type="button" value="Delete" /></td>
        <table>
      </form>
    <%end%>
  <%end%>
  
    
  <script>
  <%if @active != ""%>

    <%active_gui_buttons = GuiButton.where(:remote_id => @active.to_i)%>
    <%active_gui_buttons.each do |active_gui|%>
      <%button = @button_hash[active_gui.id]%>
      document.getElementById("change_<%=button.id%>").onclick = function() {
        $.post('/gui_button/update_gui_button', {gui_button_id: $('#<%=button.id%>_gui_button_label').text(),  width: $('#<%=button.id%>_width').val(), height: $('#<%=button.id%>_height').val(), x: $('#<%=button.id%>_x').val(), y: $('#<%=button.id%>_y').val(), remote_id: $('#<%=button.id%>_remote_id').val(), active: <%=@active%>  },
        function(){
        });
          var yValue = $('#<%=active_gui.id%>_y').val();
          yValue = +yValue;
          yValue += 35;
          var xValue = $('#<%=active_gui.id%>_x').val();
          xValue = +xValue;
          xValue -= 998;
          var s = new CanvasState(document.getElementById('remote_canvas'));
          s.addShape(new Shape(xValue,yValue,$('#<%=active_gui.id%>_width').val(),$('#<%=active_gui.id%>_height').val(), 'rgba(46, 154, 254, .5)','<%=active_gui.button_id%>')); 
          document.getElementById('gui_buttons').click();
      };

    <%end%>
  <%end%>
  
</script>

