// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
th {
  font-size: 15px;
}
.sidebar_button {
  padding: 5px 5px 5px 5px;
  width: 110px;
  height: 80px;
  cursor: pointer;
  border: 1px solid #A9D0F5;
  color: white;
  border-radius:5px;
  text-decoration:none;
  background: #81F79F ;
}
.button {
  padding: 5px 5px 5px 5px;
  width: 110px;
  height: 80px;
  cursor: pointer;
  border: 1px solid #A9D0F5;
  color: white;
  border-radius:5px;
  text-decoration:none;
  background: -moz-linear-gradient(top,#25A6E1 0%,#188BC0 100%); 
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#25A6E1),color-stop(100%,#188BC0)); 
  background: -webkit-linear-gradient(top,#25A6E1 0%,#188BC0 100%); 
  background: -o-linear-gradient(top,#25A6E1 0%,#188BC0 100%); 
  background: -ms-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
  background: linear-gradient(top,#25A6E1 0%,#188BC0 100%);  
  border-radius:0px; 
  -moz-border-radius:0px; 
  -webkit-border-radius:0px; 
  border:1px solid #1A87B9
}
.button:hover {
  background:#81BEF7;
}
.new_button {
  padding: 5px 5px 5px 5px;
  width: 106px;
  height: 40px;
  cursor: pointer;
  border: 1px outset #088A29;
  color: white;
  border-radius:5px;
  text-decoration:none;
  background: #04B45F;
  background: -moz-linear-gradient(top,#04B45F 0%,#088A29 100%); 
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#04B45F),  color-stop(100%,#088A29)); 
  background: -webkit-linear-gradient(top,#04B45F 0%,#088A29 100%); 
  background: -o-linear-gradient(top,#04B45F 0%,#088A29 100%); 
  background: -ms-linear-gradient(top,#04B45F 0%,#088A29 100%);
  background: linear-gradient(top,#04B45F 0%,#088A29 100%); 
}
.new_button:hover {
  background: #A9F5A9;
}
.change_button {
  width: 80px;
  height: 25px;
  background: #2E9AFE ;
  border: 1px outset #333333;
  cursor: pointer;
  color: white;
  border-radius:10px;
  background: -moz-linear-gradient(top,#25A6E1 0%,#15739F 100%); 
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#25A6E1),color-stop(100%,#15739F)); 
  background: -webkit-linear-gradient(top,#25A6E1 0%,#15739F 100%); 
  background: -o-linear-gradient(top,#25A6E1 0%,#15739F 100%); 
  background: -ms-linear-gradient(top,#25A6E1 0%,#15739F 100%);
  background: linear-gradient(top,#25A6E1 0%,#15739F 100%);  
}
.change_button:hover {
  background: #81BEF7;
}
.change_button:disabled {
  background: #A4A4A4;
  cursor: auto;
  border: 1px outset #A4A4A4;
}
.small_button {
  width: 40px;
  height: 25px;
  background: #2E9AFE ;
  border: 1px outset #A9D0F5;
  cursor: pointer;
  color: white;
  border-radius:10px;
  background: -moz-linear-gradient(top,#25A6E1 0%,#188BC0 100%); 
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#25A6E1),color-stop(100%,#188BC0)); 
  background: -webkit-linear-gradient(top,#25A6E1 0%,#188BC0 100%); 
  background: -o-linear-gradient(top,#25A6E1 0%,#188BC0 100%); 
  background: -ms-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
  background: linear-gradient(top,#25A6E1 0%,#188BC0 100%);  
}
.small_button:hover {
  background: #81BEF7;
}
.delete_button {
  color: white;
  width: 80px;
  height: 25px;
  background: #FA8258 ;
  border: 1px outset #B40404;
  cursor: pointer;
  border-radius:10px;
  background: -moz-linear-gradient(top,#FA8258 0%,#B40404 100%); 
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FA8258),color-stop(100%,#B40404)); 
  background: -webkit-linear-gradient(top,#FA8258 0%,#B40404 100%); 
  background: -o-linear-gradient(top,#FA8258 0%,#B40404 100%); 
  background: -ms-linear-gradient(top,#FA8258 0%,#B40404 100%);
  background: linear-gradient(top,#FA8258 0%,#B40404 100%); 
}
.delete_button:hover {
  background: #F5BCA9;
}
.delete_button:disabled {
  background: #A4A4A4;
  cursor: auto;
  border: 1px outset #A4A4A4;
}

input[type="text"] {
  background-color: #333333;
  border-color: #999999;
  color: white;
}
input[type="button"] {
}
input[type="button"]:hover {
}
.headers {
  position: fixed;
  margin-top: 91px;
  margin-left: -8px;
  background-color: #0174DF;
  width: 2000px;
  height: 45px;
  background: -moz-linear-gradient(top,#25A6E1 0%,#188BC0 100%); 
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#25A6E1),color-stop(100%,#188BC0)); 
  background: -webkit-linear-gradient(top,#25A6E1 0%,#188BC0 100%); 
  background: -o-linear-gradient(top,#25A6E1 0%,#188BC0 100%); 
  background: -ms-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
  background: linear-gradient(top,#25A6E1 0%,#188BC0 100%);  
  border-radius:0px;
}

